@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --primary-color: #ffffff27;
    --secondary-color: #ffad14;
    --accent1-color: #fdfffc;
    --accent2-color: #2ec4b6;
  
    --heading-font: 'Montserrat Subrayada', serif;
    --paragraph-font: 'Roboto', serif;
  
    --nav-background-color: #6c9458;
    --nav-link-color: #011627;
    --nav-hover-link-color: #fdfffc;
    --nav-hover-background-color: #e71d36;
}

*{
    box-sizing:content-box}

header img{
    width: 150px;
    margin: 0;
    padding: 30px;
}
header nav a{
    color: #011627;
    padding: 1rem;
   
}
header {

    background-color: var(--secondary-color);
    color: var(--accent1-color);
    display: grid;
    margin: 0.5rem auto;
    grid-template-columns:  2fr 1fr .5fr;
    max-width: 1000px;
    border-bottom: 1px solid #ccc;


}

.history {
    background-color: #469cde;
    display:flex;
    padding: 30px;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    max-width: 1000px;
}



body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
.grid {
    display: flex;
}

fig img {
    width: 100%;
}


    
.hero{
    width: 100%px;
    height: auto;
    position: relative;
    align-content: center;

}
.hero img {
    display:block;
    width: 100%;
    height: auto;
    
    
}
h1 {
    position:absolute;
    color: #fdfffc;
    text-align: center;
    background-color:rgba(255, 176, 17, 0.8);
    top: 20%;
    left: 0;
    right: 0;
    padding: 1rem;    
}
article{
    background-color:rgba(6, 145, 196, 0.842);
    position: absolute;
    top: 40%;
    width: 80%;
    height: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1rem;
    color: #fdfffc;

}
.hero article img {
    width: 200px;
    float: right;
}

section img{
    width: 500px;
}
footer{
    margin-top: auto;
    text-align: left;
    color: #2ec4b6;

}
.sociallinks a img {
    width: 30px;
    height: 50px;
    margin: 0 auto;
    
}

nav {
     /*background-color: #ffad14;
     padding: 1rem;
     display: flex;
     justify-content:flex-end;
     align-items: center;*/
    
     justify-content: space-evenly;
     align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
}

a {
    margin: 1rem;
}

.navigation a {
    color: #fff; 
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
}

.navigation a:hover {
    color: white;
    font-weight: 700;
    text-decoration: underline;
}

main{
    width: 840px;
    margin: 0;
}
